.label-box {
  padding: 1rem;
  justify-self: center;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.label {
  font-size: 2rem;
  font-weight: 700;
}

.input {
  padding: 1rem;
  font-size: 1.6rem;
}
